{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <div class="overview-wrap">
                  <h2 class="title-1">{{controller_name}}</h2>
                  <a href="{{ path('add') }}?class={{class}}" class="au-btn au-btn-icon au-btn--blue btn-sm">
                      <i class="zmdi zmdi-plus"></i>Ajouter un élément
                  </a>
              </div>
          </div>
          <div class="col-md-12 m-t-25">
              <!-- DATA TABLE-->
              <div class="table-responsive m-b-40">
                  <table class="table table-borderless table-data3">
                      <thead>
                          <tr>
                              {% for key,element in attributs %}
                              <th>{{key}}</th>
                              {% endfor %}

                              <!-- <th>status</th> -->
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for element in elements %}
                          <tr>
                              {% for key,singleElement in element %}
                              <td>
                                {% if singleElement is iterable %}
                                  {{ singleElement|join(', ') }}
                                {% elseif singleElement.timestamp is defined %}
                                  {{ singleElement|date('d/m/Y') }}
                                {% else %}
                                  {{ singleElement|length > 20 ? singleElement|slice(0, 20) ~ '...' : singleElement }}
                                {% endif %}
                              </td>
                              {% endfor %}

                              <!-- PROCESS OR DENIED -->
                              <!-- <td class="process">Processed</td> -->
                              <td>
                                <div class="table-data-feature">
                                    <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Envoyer">
                                        <i class="zmdi zmdi-mail-send"></i>
                                    </button> -->
                                    <!-- EDIT -->
                                    <a href="{{ path('edit') }}?class={{class}}&id={{element.id}}" class="item" data-toggle="tooltip" data-placement="top" title="Éditer">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    <!-- DELETE -->
                                    <span data-toggle="modal" data-target="#staticModal" class="openModalDelete" id="{{element.id}}">
                                      <button class="item" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                          <i class="zmdi zmdi-delete"></i>
                                      </button>
                                    </span>
                                    <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Plus..">
                                        <i class="zmdi zmdi-more"></i>
                                    </button> -->
                                </div>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- END DATA TABLE-->
          </div>

        </div>
    </div>
</div>
{% endblock %}

{% block modals %}

{% set currentPath = app.request.uri %}

<!-- modal static -->
<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
 data-backdrop="static">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticModalLabel">Supprimer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Êtes-vous sûr de vouloir supprimer cet élément?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
        <form class="formDelete" action="{{currentPath}}" method="post">
          <input type="hidden" class="regionId" name="id" value="">
          <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end modal static -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $('.openModalDelete').click(function(){
    var id = $(this).attr('id');
    $('.formDelete .regionId').val(id);
  });
</script>
{% endblock %}
